.Search {
  padding: 0.2rem 2rem;
  border-radius: 1rem;
  display: flex;
  border: 1px solid #e6e6e6;
  position: relative;
}

.Search:focus-within {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}

.Search form {
  display: flex;
}

.Search input {
  border: 0;
  outline: none;
  font-size: 1rem;
  color: gray;
}

.Search::before {
  content: url('search.svg');
  display: block;
  font-size: 0.5rem;
  width: 1rem;
  position: absolute;
  left: 8px;
  top: 5px;
}

.Search span {
  position: absolute;
  right: 5px;
  font-size: .7rem;
  background: gray;
  border-radius: 1rem;
  color: white;
  padding: .2rem .3rem;
  cursor: pointer;
}
