.App {

}

.App .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.App .container div {

}

.App .select-box {
  padding: .6rem;
  padding-right: 2rem;
  border: 1px solid #dfdfdf;
  background: white;
  font-size: 0.8rem;
  color: #919191;
}

.App .select-wrapper {
  position: relative;
}

.App .select-wrapper::after {
  content: '‹';
  font-size: 1.8rem;
  font-weight: 100;
  position: absolute;
  right: 1rem;
  color: #919191;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.App-logo {
  height: 1.0rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.App-header {
  font-size: calc(10px + 2vmin);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  z-index: 80;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 62px;
  background-color: white;
  padding: 0px 1.6rem;
}

.App-link {
  color: black;
}

.Search-term {
  background: #eeedf1;
  padding: 1rem 1.6rem;
}

.Search-term h3 {
  margin: 0;
  padding: 0;
  color: #726e89;
  font-weight: 200;
  text-align: left;
  font-size: 2.5rem;
}

.search-results {
    width: 80%;
    margin: 0 auto 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.search-results__result-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.search-results__result-count__text {
    padding-top: 2rem;
    padding-bottom: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 3px solid #dfbe7f;
    font-size: .9rem;
    font-weight: 400;
    color: #383839;
}

.search-results__result-list {
  margin: 2rem 0;
  border: 1px solid #f3f1f0;
  border-radius: 1px;
}

.search-results__result-list__item {
  padding: 0.3rem;
  border-bottom: 1px solid #f3f1f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.search-results__result-list__item:hover {
  background-color: #f4f4f6;
}

.product-result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-result__thumbnails {
  display: flex;
}

.product-result__thumbnails img {
  margin: 0 .2rem;
}

.product-result__thumbnails img:first-of-type {
  margin-left: 0;
}

.product-result__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 .8rem;
}

.product-result__details__info {
  font-size: .9rem;
}

.product-result__details__info .top-info {

}

.product-result__details__info .bottom-info {
  font-size: .7rem;
  color: gray;
}

.product-result__details__price {
  display: flex;
  align-items: center;
  font-size: .9rem;
}

.product-result__details__price--crossed {
  text-decoration: line-through;
  color: gray;
}
