.pagination {
  display: inline-block;
  color: #919191;
  font-size: .8rem;
  margin: 0;
}

.pagination li {
  display: inline-block;
  border: 1px solid transparent;
  padding: .5rem .9rem;
  border-radius: 3px;
}

.pagination li.active {
  border: 1px solid #dfdfdf;
}
